/* NOTE: SGN blue is #ccccff */
/********************     GENERAL SITE STYLES     **********************/
body {
  color: black;
  background-color: white;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.25;
}

/*various places on the site use various headline size tags, so let's try to make them all the same*/
h1,h2,h3,h4,h5,h6 {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-top:0px;
}

img {
  border: 0;
}

a:link  {
  color:#0000ff;
  text-decoration:none;
}
a:active  {
  color:#0000ff;
  text-decoration:none;
}
a:visited  {
  color:#3333ff;
  text-decoration:none;
}
a:hover { 
	color:#0000ff;
  text-decoration:underline;
}

/*****************************     VIGS    ****************************************************/

.blue_text {
	color:#0000ff;
	text-decoration:none;
}

.seq_map {
    color: #777777;
    width: 700px;
    position:relative;
    overflow: auto;
    align: left;
}

.ui-dialog {
    position:relative;
}

#region_square {
    position:absolute;
    vertical-align:middle;
}

.help_dialog {
    color:blue;
	font-weight:normal;
	font-size:10px;
	cursor:pointer
}

#open_descriptions_dialog {
    color:blue;
}

#desc_dialog {
     overflow: auto;
     position: relative;
}

.section_bar {
	color:black;
	font-weight:bold;
	text-align:left;
	background-color:#CCCCFF;
	width:708px;
	height:20px;
	text-decoration:none;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	vertical-align: middle;
}

.section_bar a:link {
	color:black;
	margin-left:5px;
	text-decoration:none;
	vertical-align: middle;
}

.section_bar a:over {
	color:black;
	margin-left:5px;
	text-decoration:none;
}


.subsection_bar {
	color:black;
/*	font-weight:bold;*/
	background-color:#EEEEEE;
	width:700px;
	height:20px;
	text-decoration:none;
	text-align:left;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	vertical-align: middle;
}

.subsection_bar a:link {
	color:black;
	margin-left:5px;
	text-decoration:none;
	vertical-align: middle;
}

.subsection_bar a:over {
	color:black;
	margin-left:5px;
	text-decoration:none;
}

.center_section {
	width:695px;
	position: relative;
	text-align:left;
/*	margin-left:30px;*/
}

.ui-tooltip, .arrow:after {
	background: #000000;
	border: 2px solid white;
}
.ui-tooltip {
	padding: 5px 10px;
	color: white;
	border-radius: 10px;
	font: bold 12px "Helvetica Neue", Sans-Serif;
	box-shadow: 0 0 7px black;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	tranform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}



#sequence {
background-color:#EEEEFE;
border-color:#000;
border-width:2px;
border-style:solid;
border-radius:5px;
width: 700px;
min-height: 80px;
max-height: 300px;
min-width: 700px;
max-width: 700px;
}
#upload_expression_file {
background-color:#555555;
/*background-color:#4387FD;*/
border:0px;
border-radius:2px;
/*color:#fff;*/
color:#EEEEEE;
box-shadow: 1px 1px 0px 0px #C6C6C6;
font-family:Arial;
font-size:12px;
height:20px;
line-height:18px;
vertical-align: top;
}
#upload_expression_file:hover {
background-color:#444444;
/*background-color:#5EA1FF;*/
/*color:#acf;*/
color:#fff;
}
#upload_expression_file:active {
position:relative;
top:1px;
left:1px;
box-shadow: 0px 0px 0px 0px #fff;
}



